

/*  ----------------------------  디테일 상단  ClasS_title 부분  ----------------------------   */


/*font-family: 'GmarketSansBold';

 font-family: 'GmarketSansLight';

font-family: 'GmarketSansMedium';


*/




.show_class p3{
	font-family: 'GmarketSansMedium';
	font-size: 18px;
	padding: 10px;
}


.show_class{	
	margin-top: -50px;	
}


.show_class hr{	
	
	margin-top: 15px;	
}




.show_class_content{
	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 780px;
	max-height: 48px;
	max-width: 780px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-left:1px solid #d2d4d6;
	border-right:1px dashed #d2d4d6;
	padding: 17px;	
	text-aling: center;
	
}


.show_class_content b{
	
	font-family: 'GmarketSansMedium'; 
	font-size: 20px;
	margin-left: 5%;	
	
}


.show_class_content span{
	
	font-family: 'GmarketSansMedium'; 
	font-size: 15px;
	margin-left: 2%;
	color: 	#87898c;
	
}



.show_class_content_move{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 260px;
	max-height: 48px;
	max-width: 260px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px solid #d2d4d6;
	 text-aling: center;
		
}


.show_class_content_move p4{
	
	font-family: 'GmarketSansMedium'; 
	 color: #697280;
	 margin-left: 35%;	
	font-size: 18px;
}


.show_class_content_move a{	
	 color: #697280;	
}


.show_class_content_move a:hover{
	
	 color: #9b9ea3;
	
}




.show_class_content_start{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 130px;
	max-height: 48px;
	max-width: 130px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px dashed #d2d4d6;
	text-aling: center;
		
}


.show_class_content_start img{
	
	 margin-left: 35%;	
	
}


.show_class_content_start img:hover{
	
	 content: url('../image/detail_img/detailstart_off.png');
	
}





.show_class_content_menu{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 130px;
	max-height: 48px;
	max-width: 130px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px solid #d2d4d6;
	text-aling: center;
		
}


.show_class_content_menu img{
	
	 margin-left: 35%;	
	
}


.show_class_content_menu img:hover{
	
	 content: url('../image/detail_img/detailmenu_off.png');
	
}




/*      결제 신청   */



.line1{
	
   border-top: 1px dashed #c0c8cf;
  border-bottom: 1px dashed #fff;
  margin: 30px 0 0 0 ;
	
}



.section{
	
	 margin: 20px 0 0 0 ;	
	
}



.paymentWrap{
	
	display:inline-block;
	margin-left: 30px;
	padding: 15px;	
	
}


.class_pay_wrap dt {
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #ddd;
    margin: 15px 0 0 0 ;
}


.paymentWrap dd, .class_pay_list_pic, .class_pay_list_cont {
   display:inline-block;
}



.class_pay_list {
    border: 1px solid #ddd; 
    margin: 15px 0 0 0;
    border-radius: 5px;
   
    
}



b {
    font-weight: bold;
      color: #5f6d78;
      font-size: 20px;
}


dt {
    font-weight: bold;
      color:black;
      font-size: 17px;
}



.class_pay_list_pic img {
    width: 250px;
}


img {
    vertical-align: middle;
}




.common_sp_caption_tit.line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    font-weight: bold;
    font-size: 17px;
}


.common_sp_caption_price {
    font-size: 20px;
    color: #73b142;
    font-weight: normal;
    letter-spacing: -0.02em;
    font-family: roboto;
}

.class_pay_list_cont {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 22px;
}




.class_pay_info th {
    color: #666;
    font-weight: normal;
    padding: 14px 0 8px 20px;
    width: 110px;
}
.class_pay_info th, .class_pay_info td {
    font-size: 16px;
}
th {
    text-align: left;
}








.class_pay_info td .form-control {
    height: 46px;
    font-size: 16px;
    width: 550px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}






.class_pay_wrap dt {
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #ddd;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}



.class_pay_info td .form-control {
    height: 46px;
    font-size: 16px;
    width: 550px;
}



.class_pay_info td {
    padding: 10px 0 6px 8px;
}
.class_pay_info th, .class_pay_info td {
    font-size: 16px;
}


.class_pay_info{
	
	margin: 0 0 0 30px;
	
}



.class_pay_method a{
	
	 text-decoration:none;
	
	
}


.class_pay_method{
	
	margin: 0 0 0 25%;
	
}



.btn_pay_wrap {
    padding: 15px 20px 20px 20px;
    text-align: center;
    margin-left: -30px;
}



.btn_pay_wrap button {
    display: inline-block;
    width: 530px;
    padding: 18px 0;
    font-size: 20px;
    text-align: center;
    background: #9fb3c4;
    border: 1px solid #cfdae3;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50px;
}


.btn_pay_wrap button:hover{
	
	 background: #506475;
	
}


button, select {
    text-transform: none;
}
constructed stylesheet
button {
    overflow: visible;
}
constructed stylesheet
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
