@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");



/*  ----------------------------  디테일 상단  ClasS_title 부분  ----------------------------   */


/*


  font-family: 'Playfair Display', serif;

	
	font-family: "Playfair Display", sans-serif;
	
	
*/



.show_class p3{	
	font-size: 18px;
	padding: 10px;
	font-family: "Playfair Display", sans-serif;
	font-weight: bold;
}


.show_class{	
	margin-top: -50px;	
}


.show_class hr{	
	
	margin-top: 15px;	
}




.show_class_content{
	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 780px;
	max-height: 48px;
	max-width: 780px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-left:1px solid #d2d4d6;
	border-right:1px dashed #d2d4d6;
	padding: 17px;	
	text-aling: center;
	
}


.show_class_content b{
	

	font-size: 20px;
	margin-left: 5%;	
	
}


.show_class_content span{
	
	
	font-size: 15px;
	margin-left: 2%;
	color: 	#87898c;
	
}



.show_class_content_move{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 260px;
	max-height: 48px;
	max-width: 260px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px solid #d2d4d6;
	 text-aling: center;
		
}


.show_class_content_move p4{
	

	 color: #697280;
	 margin-left: 35%;	
	font-size: 18px;
}


.show_class_content_move a{	
	 color: #697280;	
}


.show_class_content_move a:hover{
	
	 color: #9b9ea3;
	
}




.show_class_content_start{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 130px;
	max-height: 48px;
	max-width: 130px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px dashed #d2d4d6;
	text-aling: center;
		
}


.show_class_content_start img{
	
	 margin-left: 35%;	
	
}


.show_class_content_start img:hover{
	
	 content: url('../image/detail_img/detailstart_off.png');
	
}





.show_class_content_menu{	
	display: table-cell;	
	background:white;	
	height: 48px;
	width: 130px;
	max-height: 48px;
	max-width: 130px;
	border-radius: 10px;	
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
	border-right:1px solid #d2d4d6;
	text-aling: center;
		
}


.show_class_content_menu img{
	
	 margin-left: 35%;	
	
}


.show_class_content_menu img:hover{
	
	 content: url('../image/detail_img/detailmenu_off.png');
	
}





/*  --------------------------- 강의 등록 ------------------------- */

ul{
   list-style:none;
   }
   
img {
    vertical-align: middle;
}   
   
   
#divMainPhotoBox {
	
	position: absolute;
	z-index:5;
	/*  display: inline-block;	 */
	margin: 0 0 0 39%;
}


   
#write_photo{
		
	border-radius: 25px;
	width: 230px; 
	height: 230px;	
	/*  overflow: hidden; */
	
}   
   
 
 
 #divVideoPhotoBox{
 
 display: inline-block;
 margin: 0 0 0 15px;
 
 }
    
 
 .cont_line {
    width: 800px;
    padding: 10px 0 0 0;
  
	
    
}

.cont_line input{
    display: inline-block;
}


.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}


.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 16px -50px;
    line-height: 50px;
    display: inline-block;
}



.pad_b_25 {
    padding-bottom: 15px !important;
}

.pad_l_60 {
    padding-left: 60px !important;
}



.cont_line input {
    display: inline-block;
}

.cont_box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}


.step_cont {
    display: inline-block;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 10px;
    font: inherit;
    color: inherit;
}




input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


#cok_intro, #cok_video_url {
	 background: #f5f5f5;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 16px Arial; 
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
   
 }
 


.cont_line select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding: 8px 2px;  
    border-radius: 4px;
    
}


#cok_time option:hover {
  color: red;
}


#cok_time option:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

#cok_time option:disabled {
  opacity: 0.5;
}




t1{
	
	font-size:15px;
	font-weight:bold;
	color: #80929c;
	padding: 10px;
	
}



/*  ------------------------- 재료 등록 ----------------------------  */


li{
   list-style:none;
   }



.pad_l_60 {
    padding-left: 60px !important;
}



.cont_box .guide {
    font-size: 14px;
    display: inline-block;
    line-height: 1.8;
    margin-top: 6px;
   /*  color: #999; */
    background: url('../image/class_write_img/head_icon03.png') left -2px no-repeat;
    padding: 0 0 0 30px;
    vertical-align: top;
}


.mag_b_15 {
    margin-bottom: 15px !important;
}


.cont_box .btn-lineup {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}


.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}


.cont_box .cont_tit6 input {
    background: #dce1e3;
    display: inline-block;
}

.cont_box li input {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}

.cont_box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
   
}

.cont_box ul, .cont_box li {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0px;
}

.cont_box ul {
    display: inline-block;
   
    
  
}


#propTitle{

	 vertical-align: top;
	  margin: 10px 0 0 0;

}


.btn_add button, .noti button{
	
	 border: 1px solid #ccc;
	 background: transparent;
	
}


t2{
	
	font-size:13px;
	font-weight:bold;
	color: red;
	margin: 2% 0 0 20%;
	
	
}

.noti button{
	
	margin: 2% 0 0 35%;
	
}



.close_liMaterial{
	
	background: #a9b7c2;
	border-radius: 50%;
	color: white;
	width: 25px;
	 border: 1px solid #e1e1e1;
}











/*         요리  순서    */  




.cont_tit3 button{
	
	 border: 1px solid #ccc;
	 background: transparent;
	
}



.cont_tit3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}
/* 
.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}
 */


.cont_box .guide {
    font-size: 14px;
    display: inline-block;
    line-height: 1.8;
    margin-top: 6px;
    color: #999;
    background: url('../image/class_write_img/head_icon03.png') left -2px no-repeat;
    padding: 0 0 0 20px;
    vertical-align: top;
}



.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}



.step_cont {
    display: inline-block;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
}




   
#divInfoPhotoBox {
	
	position: absolute;
	z-index:5;
	/*  display: inline-block;	 */
	margin: 0 0 0 39%;
}


   
 
 
 #divInfoPhotoBox{
 
 display: inline-block;
 margin: 0 0 0 15px;
 
 
 }
    


#info_cont_area {
	 background: #f5f5f5;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 16px Arial; 
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
   
 }




.cont_tit4_info{
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}





.cont_line_info p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 16px 20px;
    line-height: 50px;
    display: inline-block;
}



.cont_line_info select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding: 8px 2px;
    border-radius: 4px;
}






/*    버튼   */



.buttonWrap{
	
	display: inline-block;
	margin: 0 0 0 37%;
	
}



.saveBT, .writeBT, .closeBT{
	
	display: inline-block;
	font-weight: 400;   
	text-align: center;	
    border-radius: .25rem;    
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    line-height: 1.5;
    padding: 10px;
}



.saveBT{
	
	color: #fff;
    background-color: #c2c8cf;
 	border: 1px solid #e1e1e1;
 	width: 140px;
	
}


.saveBT:hover{
	
	color: #fff;
    background-color: #84878a;
	
}



.writeBT{
	
	color: #fff;
    background-color: #bacad6;
 	border: 1px solid #e1e1e1;
 	width: 140px;	
	
}


.writeBT:hover{
	
	color: #fff;
    background-color: #6f91ab;
	
}




.closeBT{
	
	color: black;
    background-color: white;
 	border: 1px solid #e1e1e1;
 	width: 140px;
	
}




.buttonWrap a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}