<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="ranking">
  
 
<resultMap type="recipeinfo" id="recipeinfo">
	<id property="recipe_no" column="recipe_no" javaType="int"/>
	<result property="mem_no" column="mem_no" javaType="int"/>	
	<result property="scrap_no" column="scrap_no" javaType="int"/>
	<result property="scrap_cnt" column="scrap_cnt" javaType="int"/>
	<result property="mem_nickname" column="mem_nickname"/>	
	<result property="recipe_title" column="recipe_title"/>
	<result property="recipe_thumbnail" column="recipe_thumbnail"/>
	<result property="recipe_video" column="recipe_video"/>
	<result property="recipe_content" column="recipe_content"/>
	<result property="recipe_time" column="recipe_time"/>
	<result property="recipe_level" column="recipe_level"/>
	<result property="mate_name" column="mate_name"/>
	<result property="mate_cnt" column="mate_cnt"/>
	<result property="step" column="step"/>
	<result property="visit_cnt" column="visit_cnt"/>
	<result property="report_cnt" column="report_cnt"/>
	<result property="kind_tag_no" column="kind_tag_no" javaType="int"/>
	<result property="theme_tag_no" column="theme_tag_no" javaType="int"/>
	<result property="material_tag_no" column="material_tag_no" javaType="int"/>
	<result property="recipe_uploadtime" column="recipe_uploadtime"/>
  

<association property="member" column="mem_no" javaType="membervo">
		<id property="mem_no" column="mem_no"/>
		<result property="mem_nickname" column="mem_nickname"/>	
		<result property="mem_pic" column="mem_pic"/>
	</association>		  
  
  
 <association property="review" column="review_no" javaType="reviewvo">
		<id property="review_no" column="review_no"/>
		<id property="mem_no" column="mem_no"/>
		<result property="class_no" column="class_no"/>	
		<result property="recipe_no" column="recipe_no"/>	
		<result property="star_rate" column="star_rate"/>
		<result property="review_content" column="review_content"/>
		<result property="review_date" column="review_date"/>
		<result property="review_declare" column="review_declare"/>
	</association>	 
 
 
  
 </resultMap> 
  
  
  
  
<select id="getRankingRecipe" parameterType="recipeinfo" resultMap="recipeinfo">


select * 

from   recipe_info r

 JOIN member_info m
 
    ON r.mem_no  = m.mem_no 

order by r.report_cnt desc
          
     
</select> 
    
  
 
 
 





 
 
 
 
  
  
  </mapper>